$background-color: #f0f0f0;
$text-color: #2c2c2c;
$accent-color: #a51919;

html {
  scroll-behavior: smooth;
  background: $background-color;
  background-repeat: no-repeat;
  color: $text-color;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 1em;
  height: 100vh;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $accent-color;
  margin-bottom: 2rem;
}

.about {
  padding: 100px 100px;

  &__title {
    font-size: 3rem;
  }

  &__body {
    font-size: 2rem;
    font-weight: normal;
    margin-top: 2rem;

    &--name {
      font-weight: bold;
    }
  }

  &__bio-pic {
    display: block;
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin: auto;
  }

  &__bio-pic:hover {
    box-shadow: -10px -10px 0px white;
    cursor: pointer;
  }
}

.experience {
  padding: 100px 100px;

  &__dates {
    margin-right: 150px;
    min-width: 150px;
  }
  &__logo {
    height: 25px;
    margin-right: 5px;
    width: auto;
    display: inline;
  }

  &__item {
    display: flex;
    margin-bottom: 5rem;
  }

  &__description--title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    p {
      font-weight: bold;
    }
  }

  &__description--text {
    line-height: 1.3rem;
  }
}

.featured-projects {
  padding: 100px 100px;
}
